<h1>Update post</h1>

<!-- Using form with and url to past custom url so that the request can be routed to appropriate route -->

<%= render partial: "form", locals: { post: @post, url: user_post_path(current_user.id, @post.id) } %>
