<h1 class="mt-5">Welcome to igram</h1>


<p class="lead">Please register or sign in!</p>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-success" %>
<%= link_to "Sign in", new_user_session_path, class: "btn btn-secondary" %>